*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffc107;
  --secondary-color: #212529;
  --light-color: #fff8e1;
  --dark-color: #3e2723;
}

html,
body {
  font-family: "Public Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
